# This file is an example. 
# Create a .env file in the root of the project and add your own values.

# A secret token for authenticating with the main backend.
# Generate a random string for this.
AUTH_TOKEN=

# A secret token for authenticating with the MTG agents.
# Generate a random string for this.
AGENT_TOKEN=
